<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style>
        body {
            font-family: "Lucida Console";
        }

        p {
            font-size: 80px;
            font-weight: 40;
            text-align: center;
        }

        .endpoint {
            font-size: 40px;
            font-weight: 20;
            text-align: center;
        }
    </style>
</head>

<body>
    <p>Hello, Geo Endpoints.</p>
    <p class="endpoint"><a href="/suggestions?q=Brooks">::/suggestions?q=Brooks</a></p>
    <p class="endpoint"><a href="/suggestions?q=Fort&result_limit=3">::/suggestions?q=Fort&result_limit=3</a></p>
</body>

</html>